.header {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  background: var(--bg-header);
  border-bottom: 1px solid var(--border-header);
  padding: 16px 0;
  z-index: 10;
  backdrop-filter: saturate(180%) blur(10px);
  transition: all 0.2s linear;
}

.headerMenu {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  max-width: 768px;
  margin: 0 auto;
}

.headerMenuItem {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-align: center;
}

.headerMenuItemLink {
  color: var(--text-header-link);
  font-size: 16px;
  padding: 10px 20px;

  &:hover {
    color: var(--text-hover-header-link);
  }
}

.headerMenuItemLinkActive {
  color: var(--text-hover-header-link);
}
